.title {
    background: none;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.titlehome {
    background: none;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.undertitle {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
}

.header {
    background: rgb(95, 189, 95);
}
 .div {
     background: black;
 }



 .textarea {
    display: block;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 20px;
    max-width: 408px;
    min-width: 408px;
 }

.block {
    display: block;
}

.bottom {
    background-color: rgb(95, 189, 95);
    color: white;
    width: 80px;
    border-radius: 25px;
    margin-left: 160px;
    margin-right: auto;
    margin-bottom: 40px;
}

.main {
    border: black solid 2px;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 415px;
    padding-left: 30px;
    padding-right: 30px;
}

.link2 { 
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    background-color: black;
    border-radius: 25px;
    color: white;
    width: 100px;
    padding: 10px;
    margin-right: 42px;
    margin-left: 42px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
}

.errorbox {
    border: rgb(165, 24, 24) solid 2px;
    background: rgb(190, 81, 81);
    font-family: 'Outfit', sans-serif;
    color: white;
}

.bestaetigungsbox {
    display: flex;
    border: rgb(95, 189, 95) solid 2px;
    font-family: 'Outfit', sans-serif;
    background: rgb(95, 189, 95);
    color: white;
    padding: 20px;
    justify-content: center;
}

.sign_up {
    font-family: 'Outfit', sans-serif;
    margin-top: 35px;
}

.link {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.link3 {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    background-color: black;
    color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.link4 {
  background: rgb(165, 24, 24);
  padding: 30px;
  color: white;
  font-family: 'Outfit', sans-serif;
}
a:hover {
    background: rgb(95, 189, 95);
}

a:visited {
    color: white;
}

a:active {
    background: lightgrey;
}

ul {
    list-style-type: none;
}

.dropbtn {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    border: none;
    font-size: 16px;
}
  
  .dropdown {
    position: center;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;

  }
  
  .dropdown-content a {
    background: rgb(95, 189, 95);
    padding: 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: black
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:active {
    background: lightgray;
  }

  .dropbtn:hover {
    background: rgb(95, 189, 95);
  }
 
  table, th, td {
    border-bottom: black solid 2px;
    border-collapse: collapse;
    font-family: 'Outfit', sans-serif;
    text-align: left;
    height: 30px;
    padding-left: 20px;
}

table {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.th {
    height: 70px;
    background: rgb(95, 189, 95);
    color: white;
    font-size: 20px;
}

tr:nth-child(even) {
    background: darkgray;
    color: black;
}

  .linkanmeldung {
    font-family: 'Outfit', sans-serif;
  }

.loggedinbutton {
    background: black;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    color: white;
    border: black solid 3px;
}

.loggedoutbutton {
    background: black;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    color: white;
    border: black solid 3px;
}

.loggedoutbutton:hover {
background: white;
color: black;
border: white solid 3px;

}
  
  .dropdown-content2 {
    display: none;
    font-family: 'Outfit', sans-serif;
    position: absolute;
    background-color: black;
    min-width: 160px;

  }
  
  .dropdown-content2 a {
    background: black;
    font-family: 'Outfit', sans-serif;
    padding: 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content2 a:hover {
      background-color: white;
      font-family: 'Outfit', sans-serif;
      color: black;
  }
  
  .dropdown2:hover .dropdown-content2 {
    display: block;
  }
  .dropdown-content2 a:active {
    background: lightgray;
    font-family: 'Outfit', sans-serif;
  }

  .dropdown2 {
    position: center;
    display: inline-block;
  }